@font-face {
    font-family: 'Minecraft Font';
    src: url('./fonts/minecraft_font.ttf');
}

* {
    box-sizing: border-box;
    outline: 0 !important;
}

body {
    background: url(./img/bg.png);
    margin: 0;
}

.navbar {
    display: flex;
    height: 25vw;
    background: url(./img/navbar_bg.png) no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: inherit;
    margin: 0 auto;
}

#logo {
    width: 100%;
    max-width: 320px;
    height: 100%;
    margin: auto;
    background: url(./img/logo.png) no-repeat;
    background-size: contain;
    background-position: center;
}

#google_play {
    position: absolute;
    bottom: 4%;
    left: 0;
    right: 0;
    margin: auto;
    width: 84%;
    height: inherit;
    background: url(./img/google_play.png) no-repeat center;
    background-size: contain;
    box-shadow: 0 0 40px 5px black;
    border-radius: 10px;
    transition: .1s ease-in-out;
}

#google_play:active {
    transform: scale(.95);
    box-shadow: 0 0 0px 0px black;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Minecraft Font', sans-serif;
}



@media only screen and (orientation: landscape) {
    .navbar {
        background-size: 100%;
        height: 13vw;
    }

    .container {
        padding: 0 32px;
    }

    #logo {
        margin: auto 0;
    }

    #google_play {
        bottom: 0;
        margin: auto 0;
        position: relative;
        max-width: 180px;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }
}

@media only screen and (orientation: portrait) {
    @media only screen and (min-width: 768px) {
        #logo {
            max-width: 480px;
        }

        #google_play {
            max-width: 360px;
            height: 108px;
        }
    }

    @media only screen and (min-width: 1024px) {
        #logo {
            max-width: 640px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}